<!DOCTYPE HTML>
<html>
   <head>

      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	    <!--<meta http-equiv="Content-Type" content="text/html;charset=ISO-8859-8">-->
      <meta http-equiv="content-language" content="pt-br" />
      <meta name="viewport" content="width=device-width" />
      <title>Formul&aacute;rio Self Appointment</title>

      <link rel="stylesheet" href="http:netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" />
      <link rel="stylesheet" href="app/assets/css/main.css" />
      <style type="text/css">
        .Up{
          text-transform: uppercase;
        }
      </style>

   </head>

   <body>

      <main ng-app="formSelf" ng-controller="formCtrl" ng-cloak id="body-form-self">

        <div id="overlay" ng-if="showLoading">
          <div id="overlay_load"></div>
        </div>

        <div class="container">

          <div class="step-bar">
            <div class="line"></div>

            <div class="itens">
              <div class="img-step1 item">
                <img src="app/assets/images/step1.png">
              </div>

              <div class="img-step2 item">
                <img ng-src="{{stage != '' ? 'app/assets/images/step2-active.png' : 'app/assets/images/step2.png'}}">
              </div>

              <div class="img-step3 item">
                <img ng-src="{{stage == 'stage2' || stage == 'stage3' || stage == 'stage4' ? 'app/assets/images/step3-active.png' : 'app/assets/images/step3.png'}}">
              </div>

              <div class="img-step4 item">
                <img ng-src="{{stage == 'stage3' || stage == 'stage4' ? 'app/assets/images/step4-active.png' : 'app/assets/images/step4.png'}}">
              </div>
            </div>

          </div>

          <form name="formPrincipal" class="form-validation" role="form" novalidate>

            <div class="animate-switch-container" ng-switch on="stage" ng-class="{forward: direction, backward:!direction}">

               <!-- ============================ PRIMEIRO PASSO (STAGE0) -->

               <div class="animate-switch" ng-switch-default>

                <h1 class="title mt60">Informe seus dados pessoais</h1>

                <div class="row mt60">
                  <div class="col-xs-12 col-md-6">

                    <div class="form-group">
                      <label>INFORME O SEU CPF</label>
                      <input type="text" style="text-transform:uppercase" onkeyup="caps(this)" class="form-control txt-cpf" id="cpf" name="cpf" ng-model="formParams.st1_cpf" ui-mask="999.999.999-99" required ng-class="{'input-error': formValidation && formPrincipal.cpf.$error.required}">
                    </div>

                    <span class="msg-error" ng-show="formValidation && formPrincipal.cpf.$invalid">
                      O CPF digitado &eacute; inv&aacute;lido
                    </span>

                  </div>
                </div>

                <div class="row">
                  <div class="col-xs-12">

                    <div class="form-group">
                      <label>NOME COMPLETO</label>
                      <input type="text" style="text-transform:uppercase" onkeyup="caps(this)" class="form-control" id="nome_completo" name="nome_completo" ng-model="formParams.st1_nome" required ng-class="{'input-error': formValidation && formPrincipal.nome_completo.$error.required}" maxlength="50">
                    </div>

					<span class="msg-error" ng-show="formValidation && formPrincipal.nome_completo.$error.required">
                      Campo obrigat&oacute;rio
                    </span>

                  </div>
                </div>

                <div class="row">

                  <div class="col-xs-12 col-md-6">

                    <div class="form-group">
                      <label>CELULAR: </label>
                      <input type="text" style="text-transform:uppercase" onkeyup="caps(this)"  class="form-control" id="celular" name="celular" ng-model="formParams.st1_celular" ui-mask="(99) ?99999.9999" required ng-minlength="11" ng-pattern="/^\(?\d{2}\)?[\s-]?[\s9]?\d{4}-?\d{4}$/" ng-class="{'input-error': formValidation && formPrincipal.celular.$error.required}">
                    </div>

					<span class="msg-error" ng-show="formValidation && formPrincipal.celular.$error.required">
                      Campo obrigatorio
                    </span>

          <span class="msg-error" ng-show="formValidation && formPrincipal.celular.$error.minlength">
                    Celular inválido, coloque no mínimo 11 digitos
          </span>

					<span class="msg-error" ng-show="formPrincipal.celular.$error.pattern">
                      Celular inválido
                    </span>

                  </div>

                  <div class="col-xs-12 col-md-6">

                    <div class="form-group">
                      <label>TELEFONE ALTERNATIVO: </label>
                      <!--<input type="text" style="text-transform:uppercase" onkeyup="caps(this)"  class="form-control" id="telefone" name="telefone" ng-model="formParams.st1_telefone" ui-mask="(99) ?99999.9999" ng-class="{'input-error': formValidation && formPrincipal.telefone.$error.required}">-->
                      <input type="text" style="text-transform:uppercase" onkeyup="caps(this)" class="form-control" id="alternativo" name="alternativo" ng-model="formParams.st1_telefone" ui-mask="(99) ?9999.9999" ng-minlength="10" ng-class="{'input-error': formValidation && formPrincipal.alternativo.$error.required}">
                    </div>

                    <span class="msg-error" ng-show=" formValidation && formPrincipal.alternativo.$error.minlength">
                      Telefone inválido, coloque no mínimo 10 digitos
                    </span>

                  </div>

                </div>

                <div class="row">

                  <div class="col-xs-12 col-md-6">

                    <div class="form-group">
                      <label>E-MAIL: </label>
                      <input type="email" style="text-transform:uppercase" onkeyup="caps(this)" class="form-control" id="email" name="email" ng-model="formParams.st1_email" required ng-class="{'input-error': formValidation && formPrincipal.email.$error.required}" maxlength="50">
                    </div>

					<span class="msg-error" ng-show="formValidation && formPrincipal.email.$error.required">
                      Campo obrigat&oacute;rio
                    </span>

                    <span class="msg-error" ng-show="formPrincipal.email.$error.email">
                      E-mail inv&aacute;lido
                    </span>

                  </div>

                  <div class="col-xs-12 col-md-6">

                    <div class="form-group">
                      <label>CONFIRME O E-MAIL: </label>
                      <input type="email" style="text-transform:uppercase" onkeyup="caps(this)" class="form-control" id="confirme_email" name="confirme_email" ng-model="formParams.st1_confirm_email" required ng-class="{'input-error': formValidation && formPrincipal.confirme_email.$error.required}" maxlength="50">
                    </div>

					<span class="msg-error" ng-show="formValidation && formPrincipal.confirme_email.$error.required">
                      Campo obrigat&oacute;rio
                    </span>

                    <span class="msg-error" ng-show="formPrincipal.confirme_email.$error.email">
                      E-mail inv&aacute;lido
                    </span>
                    <span class="msg-error" ng-show="formParams.st1_confirm_email != formParams.st1_email">
                      E-mails digitados s&atilde;o diferentes
                    </span>

                  </div>

                </div>

                <div class="row">
                  <div class="col-xs-12 col-md-6">

                    <div class="form-group">
                      <label>DATA DE NASCIMENTO</label>
                      <input type="text" style="text-transform:uppercase" onkeyup="caps(this)"  class="form-control" id="data_nascimento" name="data_nascimento" ng-model="formParams.st1_nasc_date" ui-mask="99/99/9999" ng-pattern="/(([0-2]{1}[0-9]{1}|3[0-1]{1})\/(0[0-9]{1}|1[0-2]{1})\/[0-9]{4})/" required ng-class="{'input-error': formValidation && formPrincipal.data_nascimento.$error.required}" ng-blur="validCPF(formParams.st1_cpf)" model-view-value="true">
                    </div>

					<span class="msg-error" ng-show="formValidation && formPrincipal.data_nascimento.$error.required">
                      Campo obrigat&oacute;rio
                    </span>

                    <span class="msg-error" ng-show="formPrincipal.data_nascimento.$error.pattern">
                      Data de nascimento inv&aacute;lida
                    </span>

                  </div>
                </div>

                <div class="row mt16">
                  <div class="col-xs-12 col-md-6">

                    <div class="form-group">
                      <label class="customCheck">
                        <input type="checkbox" name="termos" value="1" required ng-model="formParams.st1_termos" ng-class="{'input-error': formValidation && formPrincipal.termos.$error.required}" ng-click="validDate(formParams.st1_nasc_date)">
                        <span class="check"></span>
                        <div class="check-txt">Eu li e aceito os <a href="https://www.avoncomigo.avon.com.br/avoncadastra/terms_conditions.html" target="_blank">Termos de condi&ccedil;&otilde;es</a></div>
                      </label>
                    </div>

                    <span class="msg-error" ng-show="formValidation && formPrincipal.termos.$error.required">
                      Aceite os termos de uso
                    </span>

                  </div>
                </div>

                <div class="row">
                  <div class="col-xs-12 col-md-6">

                    <div class="form-group">
                      <label class="dblock">VOLTAGEM </label>

                      <label class="radioCustom">
                        <input type="radio" name="st1_voltagem" value="110" ng-model="formParams.st1_voltagem" required>
                        <span class="radio"></span>
                        <div class="radio-txt">110</div>
                      </label>

                      <label class="radioCustom">
                        <input type="radio" name="st1_voltagem" value="220" ng-model="formParams.st1_voltagem" required>
                        <span class="radio"></span>
                        <div class="radio-txt">220</div>
                      </label>

                      <span class="msg-error" ng-show="formValidation && formPrincipal.st1_voltagem.$error.required">
                        Selecione uma op&ccedil;&atilde;o de voltagem
                      </span>

                    </div>
                  </div>
                </div>

                <div class="btns">
                  <button type="button" class="btn blank" ng-click="cleanFields()">Limpar Campos</button>
                  <button type="button" class="btn btn-info" ng-click="next('stage1')">Pr&oacute;ximo</button>
                </div>

               </div>

               <!-- ================ -->

               <!-- PASSO DOIS, ENDERECOS ================ -->
              <div class="animate-switch" ng-switch-when="stage1">

                <h1 class="title mt60">Informe seu endere&ccedil;o</h1>

                <div class="content-endereco">

                  <div class="row mt60">
                    <div class="col-xs-12 col-md-6">

                      <div class="form-group">
                        <label>CEP</label>
                        <input type="text" style="text-transform:uppercase" onkeyup="caps(this)"  class="form-control txt-cpf" id="end_cep" name="end_cep" ng-model="formParams.endereco.st2_cep" ui-mask="99999-999" ng-blur="buscarCep('normal', formParams.endereco)" required ng-class="{'input-error': formValidation && formPrincipal.end_cep.$error.required}">
                      </div>

					  <span class="msg-error" ng-show="formValidation && formPrincipal.end_cep.$error.required">
                      	Campo obrigat&oacute;rio
                      </span>

                    </div>
                  </div>

                  <div class="row">

					<div class="col-xs-12 col-md-2">
                    	<div class="form-group">
							<label>TIPO ENDEREÇO</label>
              <input type="text" style="text-transform:uppercase" onkeyup="caps(this)"  class="form-control" id="end_logradouro" name="end_logradouro" ng-model="formParams.endereco.st2_logradouro" ng-readonly="validcep" required ng-class="{'input-error': formValidation && formPrincipal.end_logradouro.$error.required}" ng-blur="formParams.endereco.st2_logradouro = (formParams.endereco.st2_logradouro | uppercase)" maxlength="10" placeholder="">
					  	</div>
						<span class="msg-error" ng-show="formValidation && formPrincipal.end_logradouro.$error.required">
                      		Campo obrigat&oacute;rio
	                    </span>
				    </div>

				   <div class="col-xs-12 col-md-6">
                      <div class="form-group">
						<label>ENDERE&Ccedil;O</label>
                        <input type="text" style="text-transform:uppercase" onkeyup="caps(this)"  class="form-control" id="end_endereco" name="end_endereco" ng-model="formParams.endereco.st2_endereco" required ng-class="{'input-error': formValidation && formPrincipal.end_endereco.$error.required}" ng-readonly="validcep" maxlength="60">
                      </div>

				      <span class="msg-error" ng-show="formValidation && formPrincipal.end_endereco.$error.required">
                      	Campo obrigat&oacute;rio
                      </span>

                   </div>

                    <div class="col-xs-12 col-md-2">

                      <div class="form-group">
                        <label>N&Uacute;MERO</label>
                        <input type="text" style="text-transform:uppercase" onkeyup="caps(this)"  class="form-control" id="end_numero" name="end_numero" ng-model="formParams.endereco.st2_numero" required ng-class="{'input-error': formValidation && formPrincipal.end_numero.$error.required}" maxlength="5">
                      </div>

					  <span class="msg-error" ng-show="formValidation && formPrincipal.end_numero.$error.required">
                      	Campo obrigat&oacute;rio
                      </span>

                    </div>

                    <div class="col-xs-12 col-md-2">

                      <div class="form-group">
                        <label>COMPLEMENTO</label>
                        <input type="text" style="text-transform:uppercase" onkeyup="caps(this)"  class="form-control" id="end_complemento" name="end_complemento" ng-model="formParams.endereco.st2_complemento" maxlength="20">
                      </div>

                    </div>

                  </div>

                  <div class="row">

                    <div class="col-xs-12 col-md-6">

                      <div class="form-group">
                        <label>PONTO DE REFERENCIA (opcional) </label>
                        <input type="text" style="text-transform:uppercase" onkeyup="caps(this)"  class="form-control" id="end_ponto_referencia" name="end_ponto_referencia" ng-model="formParams.endereco.st2_ponto_referencia" maxlength="50">
                      </div>

                    </div>

                    <div class="col-xs-12 col-md-6">

                      <div class="form-group">
                        <label>BAIRRO </label>
                        <input type="text" style="text-transform:uppercase" onkeyup="caps(this)"  class="form-control" id="end_bairro" name="end_bairro" ng-model="formParams.endereco.st2_bairro" required ng-class="{'input-error': formValidation && formPrincipal.end_bairro.$error.required}" ng-readonly="validcep" maxlength="30">
                      </div>

					  <span class="msg-error" ng-show="formValidation && formPrincipal.end_bairro.$error.required">
                      	Campo obrigat&oacute;rio
                      </span>

                    </div>

                  </div>

                  <div class="row">

                    <div class="col-xs-12 col-md-6">

                      <div class="form-group">
                        <label>CIDADE </label>
                        <input type="text" style="text-transform:uppercase" onkeyup="caps(this)"  class="form-control" id="end_cidade" name="end_cidade" ng-model="formParams.endereco.st2_cidade" required ng-class="{'input-error': formValidation && formPrincipal.end_cidade.$error.required}" ng-readonly="validcep" maxlength="20">
                      </div>

					  <span class="msg-error" ng-show="formValidation && formPrincipal.end_cidade.$error.required">
                      	Campo obrigat&oacute;rio
                      </span>

                    </div>

                    <div class="col-xs-12 col-md-6">

                      <div class="form-group">
                        <label>ESTADO </label>

                        <!-- <select name="end_estado" class="form-control" id="end_estado" ng-model="formParams.endereco.st2_estado" required ng-class="{'input-error': formValidation && formPrincipal.end_estado.$error.required}"
                         ng-options="estado.nome for estado in estados" ng-readonly="validcep">
                            <option value="">Selecione o Estado</option>
                        </select>-->
                        <!--ng-options="estado.nome for estado in estados-->
                        <!--<input type="text" style="text-transform:uppercase" onkeyup="caps(this)"  class="form-control" id="end_estado" name="end_estado" ng-pattern="/[A-Z\s]+/" ng-model="formParams.endereco.st2_estado" required ng-class="{'input-error': formValidation && formPrincipal.end_estado.$error.required}" ng-readonly="validcep" maxlength="2">-->

                        <select name="end_estado" class="form-control" id="end_estado" ng-model="formParams.endereco.st2_estado" ng-readonly="validcep" required ng-class="{'input-error': formValidation && formPrincipal.end_estado.$error.required}" ng-change="formParams.endereco.st2_estado = formParams.endereco.st2_estado.toUpperCase();" ng-disabled="validcep">
                            <option value="AC">ACRE</option>
                            <option value="AL">ALAGOAS</option>
                            <option value="AP">AMAPÁ</option>
                            <option value="AM">AMAZONAS</option>
                            <option value="BA">BAHIA</option>
                            <option value="CE">CEARÁ</option>
                            <option value="DF">DISTRITO FEDERAL</option>
                            <option value="ES">ESPÍRITO SANTO</option>
                            <option value="GO">GOIÁS</option>
                            <option value="MA">MARANHÃO</option>
                            <option value="MT">MATO GROSSO</option>
                            <option value="MS">MATO GROSSO DO SUL</option>
                            <option value="MG">MINAS GERAIS</option>
                            <option value="PA">PARÁ</option>
                            <option value="PB">PARAÍBA</option>
                            <option value="PR">PARANÁ</option>
                            <option value="PE">PERNAMBUCO</option>
                            <option value="PI">PIAUÍ</option>
                            <option value="RJ">RIO DE JANEIRO</option>
                            <option value="RN">RIO GRANDE DO NORTE</option>
                            <option value="RS">RIO GRANDE DO SUL</option>
                            <option value="RO">RONDÔNIA</option>
                            <option value="RR">RORAIMA</option>
                            <option value="SC">SANTA CATARINA</option>
                            <option value="SP">SÃO PAULO</option>
                            <option value="SE">SERGIPE</option>
                            <option value="TO">TOCANTINS</option>
                        </select>
                      </div>
					  <span class="msg-error" ng-show="formValidation && formPrincipal.end_estado.$error.required">
                      	Campo obrigat&oacute;rio
                      </span>

                    </div>

                  </div>

                </div>

                <div class="row">
                  <div class="col-xs-12 col-md-6">

                    <div class="form-group">
                      <label class="dblock">QUERO CADASTRAR UM ENDERE&Ccedil;O DIFERENTE PARA ENTREGAS </label>

                      <label class="radioCustom">
                        <input type="radio" name="st2_check_endereco_entrega" value="0" ng-model="formParams.st2_check_endereco_entrega" required checked>
                        <span class="radio"></span>
                        <div class="radio-txt">N&Atilde;O</div>
                      </label>

                      <label class="radioCustom">
                        <input type="radio" name="st2_check_endereco_entrega" value="1" ng-model="formParams.st2_check_endereco_entrega" required>
                        <span class="radio"></span>
                        <div class="radio-txt">SIM</div>
                      </label>

                      <span class="msg-error" ng-show="formValidation && formPrincipal.st2_check_endereco_entrega.$error.required">
                        Selecione uma op&ccedil;&atilde;o de endere&ccedil;o de entrega
                      </span>

                    </div>
                  </div>
                </div>

                <div class="content-endereco cobranca" ng-if="formParams.st2_check_endereco_entrega == '1'">

                  <h1 class="title mt60">Informe seu endere&ccedil;o para entrega</h1>

                  <div class="row mt60">
                    <div class="col-xs-12 col-md-6">

                      <div class="form-group">
                        <label>CEP</label>
                        <input type="text" style="text-transform:uppercase" onkeyup="caps(this)"  class="form-control txt-cpf" id="end_entrega_cep" name="end_entrega_cep" ng-model="formParams.endereco_entrega.st2_cep" ui-mask="99999-999" ng-blur="buscarCep('entrega', formParams.endereco_entrega)" required ng-class="{'input-error': formValidation && formPrincipal.end_entrega_cep.$error.required}" >
                      </div>

					  <span class="msg-error" ng-show="formValidation && formPrincipal.end_entrega_cep.$error.required">
                      	Campo obrigat&oacute;rio
                      </span>

                    </div>
                  </div>

                  <div class="row">

				    <div class="col-xs-12 col-md-2">
					    <div class="form-group">
						  <label>TIPO ENDEREÇO</label>
						  <input type="text" style="text-transform:uppercase" onkeyup="caps(this)"  class="form-control" id="end_entrega_logradouro" name="end_entrega_logradouro" ng-model="formParams.endereco_entrega.st2_logradouro" ng-readonly="validcepentrega" required ng-class="{'input-error': formValidation && formPrincipal.end_entrega_logradouro.$error.required}" maxlength="60">
					    </div>
						<span class="msg-error" ng-show="formValidation && formPrincipal.end_entrega_logradouro.$error.required">
                      		Campo obrigat&oacute;rio
                      	</span>
				    </div>

                    <div class="col-xs-12 col-md-6">

                      <div class="form-group">
                        <label>ENDERE&Ccedil;O</label>
                        <input type="text" style="text-transform:uppercase" onkeyup="caps(this)"  class="form-control" id="end_entrega_endereco" name="end_entrega_endereco" ng-model="formParams.endereco_entrega.st2_endereco" required ng-class="{'input-error': formValidation && formPrincipal.end_entrega_endereco.$error.required}" ng-readonly="validcepentrega" maxlength="60">
                      </div>

					  <span class="msg-error" ng-show="formValidation && formPrincipal.end_entrega_endereco.$error.required">
                      	Campo obrigat&oacute;rio
                      </span>

                    </div>

                    <div class="col-xs-12 col-md-2">

                      <div class="form-group">
                        <label>N&Uacute;MERO</label>
                        <input type="text" style="text-transform:uppercase" onkeyup="caps(this)"  class="form-control" id="end_entrega_numero" name="end_entrega_numero" ng-model="formParams.endereco_entrega.st2_numero" required ng-class="{'input-error': formValidation && formPrincipal.end_entrega_numero.$error.required}" maxlength="5">
                      </div>

					  <span class="msg-error" ng-show="formValidation && formPrincipal.end_entrega_numero.$error.required">
                      	Campo obrigat&oacute;rio
                      </span>

                    </div>

                    <div class="col-xs-12 col-md-2">

                      <div class="form-group">
                        <label>COMPLEMENTO</label>
                        <input type="text" style="text-transform:uppercase" onkeyup="caps(this)"  class="form-control" id="end_entrega_complemento" name="end_entrega_complemento" ng-model="formParams.endereco_entrega.st2_complemento" maxlength="20">
                      </div>

                    </div>

                  </div>

                  <div class="row">

                    <div class="col-xs-12 col-md-6">

                      <div class="form-group">
                        <label>PONTO DE REFERENCIA (opcional) </label>
                        <input type="text" style="text-transform:uppercase" onkeyup="caps(this)"  class="form-control" id="end_entrega_ponto_referencia" name="end_entrega_ponto_referencia" ng-model="formParams.endereco_entrega.st2_ponto_referencia" maxlength="50">
                      </div>

                    </div>

                    <div class="col-xs-12 col-md-6">

                      <div class="form-group">
                        <label>BAIRRO </label>
                        <input type="text" style="text-transform:uppercase" onkeyup="caps(this)"  class="form-control" id="end_entrega_bairro" name="end_entrega_bairro" ng-model="formParams.endereco_entrega.st2_bairro" required ng-class="{'input-error': formValidation && formPrincipal.end_entrega_bairro.$error.required}" ng-readonly="validcepentrega" maxlength="30">
                      </div>

					  <span class="msg-error" ng-show="formValidation && formPrincipal.end_entrega_bairro.$error.required">
                      	Campo obrigat&oacute;rio
                      </span>

                    </div>

                  </div>

                  <div class="row">

                    <div class="col-xs-12 col-md-6">

                      <div class="form-group">
                        <label>CIDADE </label>
                        <input type="text" style="text-transform:uppercase" onkeyup="caps(this)"  class="form-control" id="end_entrega_cidade" name="end_entrega_cidade" ng-model="formParams.endereco_entrega.st2_cidade" required ng-class="{'input-error': formValidation && formPrincipal.end_entrega_cidade.$error.required}" ng-readonly="validcepentrega" maxlength="20">
                      </div>

					  <span class="msg-error" ng-show="formValidation && formPrincipal.end_entrega_cidade.$error.required">
                      	Campo obrigat&oacute;rio
                      </span>

                    </div>

                    <div class="col-xs-12 col-md-6">

                      <div class="form-group">
                        <label>ESTADO </label>
                        <!--<input type="text" style="text-transform:uppercase" onkeyup="caps(this)"  class="form-control" id="end_entrega_estado" name="end_entrega_estado" ng-model="formParams.endereco_entrega.st2_estado" required ng-class="{'input-error': formValidation && formPrincipal.end_entrega_estado.$error.required}" ng-readonly="validcepentrega" maxlength="2">-->
                        <select name="end_entrega_estado" class="form-control" id="end_entrega_estado" ng-model="formParams.endereco_entrega.st2_estado" ng-readonly="validcepentrega" required ng-class="{'input-error': formValidation && formPrincipal.end_entrega_estado.$error.required}" ng-change="formParams.endereco_entrega.st2_estado = formParams.endereco_entrega.st2_estado.toUpperCase();" ng-disabled="validcepentrega">
                            <option value="AC">ACRE</option>
                            <option value="AL">ALAGOAS</option>
                            <option value="AP">AMAPÁ</option>
                            <option value="AM">AMAZONAS</option>
                            <option value="BA">BAHIA</option>
                            <option value="CE">CEARÁ</option>
                            <option value="DF">DISTRITO FEDERAL</option>
                            <option value="ES">ESPÍRITO SANTO</option>
                            <option value="GO">GOIÁS</option>
                            <option value="MA">MARANHÃO</option>
                            <option value="MT">MATO GROSSO</option>
                            <option value="MS">MATO GROSSO DO SUL</option>
                            <option value="MG">MINAS GERAIS</option>
                            <option value="PA">PARÁ</option>
                            <option value="PB">PARAÍBA</option>
                            <option value="PR">PARANÁ</option>
                            <option value="PE">PERNAMBUCO</option>
                            <option value="PI">PIAUÍ</option>
                            <option value="RJ">RIO DE JANEIRO</option>
                            <option value="RN">RIO GRANDE DO NORTE</option>
                            <option value="RS">RIO GRANDE DO SUL</option>
                            <option value="RO">RONDÔNIA</option>
                            <option value="RR">RORAIMA</option>
                            <option value="SC">SANTA CATARINA</option>
                            <option value="SP">SÃO PAULO</option>
                            <option value="SE">SERGIPE</option>
                            <option value="TO">TOCANTINS</option>
                        </select>
                      </div>

				      <span class="msg-error" ng-show="formValidation && formPrincipal.end_entrega_estado.$error.required">
                      	Campo obrigat&oacute;rio
                      </span>

                    </div>

                  </div>

                </div>

                <div class="btns">
                  <div class="row">
                    <div class="col-xs-6 a-left">
                      <button type="button" class="btn btn-info btn-voltar" ng-click="back('')">Voltar</button>
                    </div>

                    <div class="col-xs-6">
                      <button type="button" class="btn btn-info" ng-click="next('stage2')">Pr&oacute;ximo</button>
                    </div>
                  </div>
                </div>

              </div>
              <!-- ================ -->

              <!-- PASSO TRES, ARQUIVOS =============== -->
              <!-- <div class="animate-switch" ng-switch-when="stage2"> -->
              <div class="animate-switch" ng-switch-when="stage2">

                <h1 class="title mt60">Vamos anexar os documentos</h1>

                <h2 class="title-arquivo mt60">FOTO</h2>

                <div class="content-arquivo">

                  <div class="row">

                    <div class="col-xs-12 col-md-7 mt24">

                      <div class="row">

                        <div class="col-xs-4">

                          <img src="app/assets/images/icone-fotos.png" class="desktop-w100">

                        </div>

                        <div class="col-xs-8">

                          <p class="text">Insira uma foto do seu rosto segurando o documento de identificação (RG ou CNH) ao lado.</p>
                          <p class="text">O documento deverá estar com a foto posicionada para frente.</p>
                          <p class="text mt16">Caso use óculos, remova-o e fique de frente para a câmera.</p>
                          <p class="text mt16">S&oacute; será permitido arquivos com at&eacute; 3MB.</p>

                        </div>

                      </div>

                    </div>

                    <div class="col-xs-12 col-md-5 mtop16 mtop16">

                      <div class="file-box">

                        <label class="dblock">INSIRA UMA FOTO DO SEU ROSTO</label>

                        <!--<div ngf-select="uploadArquivo('foto', $file)" ngf-drop="uploadArquivo('foto', $file)" ng-model="file_foto" name="arquivo_foto" class="drop-box"  required ngf-pattern="'image/jpeg,image/jpg,image/png'"
   ngf-resize="{width: 100, height: 100, quality: .8, type: 'image/jpeg',
               ratio: '1:2', centerCrop: true, pattern='.jpg', restoreExif: false}">

                          <div class="drop-text a-center">
                            Arraste o arquivo para est&aacute; &aacute;rea ou clique em
                          </div>

                          <div class="drop-button a-center mt16">
                            <button type="button" class="btn btn-info btn-arquivo">Procurar Imagem</button>
                          </div>

                        </div>-->
      <div class="drop-box">
          <div class="drop-text a-center">
              Para carregar a Foto clique em
          </div>
          <div class="drop-button a-center mt16">
            <button type="file" ngf-select="uploadArquivo('foto', $file)" ngf-drop="uploadArquivo('foto', $file)" ng-model="file_foto" name="filess"
             accept="image/*" ngf-max-size="3MB" required
             ngf-model-invalid="errorFile" class="btn btn-info btn-arquivo">Procurar Imagem</button>
          </div>
          <!--<i ng-show="formPrincipal.file.$error.maxSize">File too large
          {{errorFile.size / 1000000|number:1}}MB: max 2M</i>-->
      </div>

                        <div class="upload-item">
                          <img src="app/assets/images/icone-arquivo.png" class="icon">

                          <p class="file-name">{{ file_foto == '' ? 'Nenhum arquivo selecionado' : file_foto.name }}</p>
                          <p class="file-size">{{ file_foto == '' ? '0kb' : file_foto.tamanho }}</p>

                          <p class="msg-error" ng-show="formPrincipal.filess.$error.maxSize">
                            Arquivo pesado, o máximo é de 3MB <br/><br/>
                          </p>
						  <!--<img ng-show="formPrincipal.file.$valid" ngf-thumbnail="file_foto" class="thumb">-->
						  <!--<p ng-click="removeFile(file_foto)">X</p>-->

                        </div>

                      </div>

                    </div>

                  </div>

                </div>
                <span class="msg-error" ng-show="formValidation && file_foto == ''">
                  Insira o arquivo de foto
                </span>

                <h2 class="title-arquivo">COMPROVANTE DE RESIDÊNCIA</h2>

                <div class="content-arquivo">

                  <div class="row">

                    <div class="col-xs-12 col-md-7 mt24">

                      <div class="row">

                        <div class="col-xs-4 a-center">

                          <img src="app/assets/images/icone-boleto.png" class="">

                        </div>

                        <div class="col-xs-8">

                          <p class="text">Anexe o comprovante de residência com vencimento nos últimos três meses.</p>
                          <p class="text">Pode ser uma conta de água ou telefone</p>
                          <p class="text mt16">S&oacute; será permitido arquivos com at&eacute; 3MB.</p>

                        </div>

                      </div>

                    </div>

                    <div class="col-xs-12 col-md-5 mtop16">

                      <div class="file-box">

                        <label class="dblock">INSIRA UM COMPROVANTE DE RESIDÊNCIA</label>

                        <!--<div ngf-drop="uploadArquivo('residencia', $file)" ngf-select="uploadArquivo('residencia', $file)" ng-model="file_residencia" class="drop-box">

                          <div class="drop-text a-center">
                            Arraste o arquivo para est&aacute; &aacute;rea ou clique em
                          </div>

                          <div class="drop-button a-center mt16">
							  <button type="button" class="btn btn-info btn-arquivo">Procurar Imagem</button>
                          </div>

                        </div>-->

                        <div class="drop-box">
                          <div class="drop-text a-center">
                              Para carregar o Documento clique em
                          </div>
                          <div class="drop-button a-center mt16">
                            <button type="file" ngf-select="uploadArquivo('residencia', $file)" ngf-drop="uploadArquivo('residencia', $file)" ng-model="file_residencia" name="filess_residencia"
                             accept="image/*" ngf-max-size="3MB" required
                             ngf-model-invalid="errorFile" class="btn btn-info btn-arquivo">Procurar Imagem</button>
                          </div>
                          <!--<i ng-show="formPrincipal.file.$error.maxSize">File too large
                          {{errorFile.size / 1000000|number:1}}MB: max 2M</i>-->
                      </div>


                        <div class="upload-item">
                          <img src="app/assets/images/icone-arquivo.png" class="icon">

                          <p class="file-name">{{ file_residencia == '' ? 'Nenhum arquivo selecionado' : file_residencia.name }}</p>
                          <p class="file-size">{{ file_residencia == '' ? '0kb' : file_residencia.tamanho }}</p>

                          <p class="msg-error" ng-show="formPrincipal.filess_residencia.$error.maxSize">
                            Arquivo pesado, o máximo é de 3MB <br/><br/>
                          </p>
						  <!--<p ng-click="file_residencia = ''">X</p>-->
                        </div>

                      </div>

                    </div>

                  </div>

                </div>

                <span class="msg-error" ng-show="formValidation && (file_residencia == '')">
                  Insira o arquivo de resid&ecirc;ncia
                </span>

                <h2 class="title-arquivo">DOCUMENTO DE IDENTIFICA&Ccedil;&Atilde;O</h2>

                <div class="content-arquivo">

                  <div class="row">

                    <div class="col-xs-12 col-md-7 mt24">

                      <div class="row">

                        <div class="col-xs-4">

                          <img src="app/assets/images/icone-cartao.png" class="desktop-w100">

                        </div>

                        <div class="col-xs-8">

                          <p class="text">Agora precisamos de dois arquivos, a foto da parte da frente, e uma outra foto da parte do verso do seu documento.</p>
                          <p class="text mt16">Só será permitido arquivos com at&eacute; 3MB.</p>

                        </div>

                      </div>

                    </div>

                    <div class="col-xs-12 col-md-5 mtop16">

                      <div class="file-box">

                        <label class="dblock">INSIRA A FOTO DA FRENTE DO DOCUMENTO</label>

                        <div class="drop-box">
                          <div class="drop-text a-center">
                              Para carregar o Documento clique em
                          </div>
                          <div class="drop-button a-center mt16">
                            <button type="file" ngf-select="uploadArquivo('identificacao1', $file)" ngf-drop="uploadArquivo('identificacao1', $file)" ng-model="file_identificacao1" name="filess_identificacao1"
                             accept="image/*" ngf-max-size="3MB" required
                             ngf-model-invalid="errorFile" class="btn btn-info btn-arquivo">Procurar Imagem</button>
                          </div>
                        </div>

                        <div class="upload-item">
                          <img src="app/assets/images/icone-arquivo.png" class="icon">

                          <p class="file-name">{{ file_identificacao1 == '' ? 'Nenhum arquivo selecionado' : file_identificacao1.name }}</p>
                          <p class="file-size">{{ file_identificacao1 == '' ? '0kb' : file_identificacao1.tamanho }}</p>
                          <p class="msg-error" ng-show="formPrincipal.filess_identificacao1.$error.maxSize">
                            Arquivo pesado, o máximo é de 3MB <br/><br/>
                          </p>
                        </div>

                      </div>

                    </div>

                  </div>

                </div>

                <span class="msg-error" ng-show="formValidation && file_identificacao1 == ''">
                  Insira os arquivos de identifica&ccedil;&atilde;o
                </span>

                <!--ide 2-->

                <div class="content-arquivo">

                  <div class="row">

                    <div class="col-xs-12 col-md-5 mtop16 col-md-offset-7">

                      <div class="file-box">

                        <label class="dblock">INSIRA A FOTO DO VERSO DO DOCUMENTO</label>

                        <div class="drop-box">
                          <div class="drop-text a-center">
                              Para carregar o Documento clique em
                          </div>
                          <div class="drop-button a-center mt16">
                            <button type="file" ngf-select="uploadArquivo('identificacao2', $file)" ngf-drop="uploadArquivo('identificacao2', $file)" ng-model="file_identificacao2" name="filess_identificacao2"
                             accept="image/*" ngf-max-size="3MB" required
                             ngf-model-invalid="errorFile" class="btn btn-info btn-arquivo">Procurar Imagem</button>
                          </div>
                        </div>

                        <div class="upload-item">
                          <img src="app/assets/images/icone-arquivo.png" class="icon">

                          <p class="file-name">{{ file_identificacao2 == '' ? 'Nenhum arquivo selecionado' : file_identificacao2.name }}</p>
                          <p class="file-size">{{ file_identificacao2 == '' ? '0kb' : file_identificacao2.tamanho }}</p>
                          <p class="msg-error" ng-show="formPrincipal.filess_identificacao2.$error.maxSize">
                            Arquivo pesado, o máximo é de 3MB <br/><br/>
                          </p>

                        </div>

                      </div>

                    </div>

                  </div>

                </div>

                <span class="msg-error" ng-show="formValidation && file_identificacao2 == ''">
                  Insira os arquivos de identifica&ccedil;&atilde;o
                </span>

                <h2 class="title-arquivo">CPF</h2>

                <div class="content-arquivo">

                  <div class="row">

                    <div class="col-xs-12 col-md-7 mt24">

                      <div class="row">

                        <div class="col-xs-4 a-center">

                          <img src="app/assets/images/icone-cartao.png" class="">

                        </div>

                        <div class="col-xs-8">

                          <p class="text">Inserir CPF caso seu documento de identifica&ccedil;&atilde;o não conste o número.</p>
                          <p class="text mt16">Só será permitido arquivos com at&eacute; 3MB.</p>

                        </div>

                      </div>

                    </div>

                    <div class="col-xs-12 col-md-5 mtop16">

                      <div class="file-box">

                        <label class="dblock">INSIRA A FOTO DO SEU CPF</label>

                        <!--<div ngf-drop="uploadArquivo('cpf', $file)" ngf-select="uploadArquivo('cpf', $file)" ng-model="file_cpf" class="drop-box">

                          <div class="drop-text a-center">
                            Arraste o arquivo para est&aacute; &aacute;rea ou clique em
                          </div>

                          <div class="drop-button a-center mt16">
							  <button type="button" class="btn btn-info btn-arquivo">Procurar Imagem</button>
                          </div>

                        </div>-->

                        <div class="drop-box">
                            <div class="drop-text a-center">
                                Para carregar o Documento clique em
                            </div>
                            <div class="drop-button a-center mt16">
                              <button type="file" ngf-select="uploadArquivo('cpf', $file)" ngf-drop="uploadArquivo('cpf', $file)" ng-model="file_cpf" name="filess_cpf"
                               accept="image/*" ngf-max-size="3MB" required
                               ngf-model-invalid="errorFile" class="btn btn-info btn-arquivo">Procurar Imagem</button>
                            </div>
                            <!--<i ng-show="formPrincipal.file.$error.maxSize">File too large
                            {{errorFile.size / 1000000|number:1}}MB: max 2M</i>-->
                        </div>

                        <div class="upload-item">
                          <img src="app/assets/images/icone-arquivo.png" class="icon">

                          <p class="file-name">{{ file_cpf == '' ? 'Nenhum arquivo selecionado' : file_cpf.name }}</p>
                          <p class="file-size">{{ file_cpf == '' ? '0kb' : file_cpf.tamanho }}</p>
                          <p class="msg-error" ng-show="formPrincipal.filess_cpf.$error.maxSize">
                            Arquivo pesado, o máximo é de 3MB <br/><br/>
                          </p>
						  <!--<p ng-click="file_cpf = ''">X</p>-->

                        </div>

                      </div>

                    </div>

                  </div>

                </div>
                <span class="msg-error" ng-show="formValidation && (file_cpf == '')">
                  Insira o arquivo de CPF
                </span>

                <!-- So mostra esse componente se o usuario for maior de idade -->
                <div ng-if="idade < '18'">

                  <h2 class="title-arquivo">DOCUMENTO DE EMANCIPA&Ccedil;&Atilde;O</h2>

                  <div class="content-arquivo">

                    <div class="row">

                      <div class="col-xs-12 col-md-7 mt24">

                        <div class="row">

                          <div class="col-xs-4 a-center">

                            <img src="app/assets/images/icone-emancipacao.png" class="">

                          </div>

                          <div class="col-xs-8">

                            <p class="text">Muito bem, voc&ecirc; disse na tela anterior que &eacute; emancipada, ent&atilde;o precisamos do seu documento de emancipa&ccedil;&atilde;o.</p>
                            <p class="text mt16">S&oacute; sera permitido arquivos com at&eacute; 3MB.</p>

                          </div>

                        </div>

                      </div>

                      <div class="col-xs-12 col-md-5 mtop16">

                        <div class="file-box">

                          <label class="dblock">INSIRA O COMPROVANTE DE EMANCIPA&Ccedil;&Atilde;O</label>

                          <div ngf-drop="uploadArquivo('emancipacao', $file)" ngf-select="uploadArquivo('emancipacao', $file)" ng-model="file_emancipacao" class="drop-box">

                            <div class="drop-text a-center">
                              Para carregar o Documento clique em
                            </div>

                            <div class="drop-button a-center mt16">
								<button ng-model="file_emancipacao" type="button" class="btn btn-info btn-arquivo">Procurar Imagem</button>
                            </div>

                          </div>

                          <div class="upload-item">
                            <img src="app/assets/images/icone-arquivo.png" class="icon">

                            <p class="file-name">{{ file_emancipacao == '' ? 'Nenhum arquivo selecionado' : file_emancipacao.name }}</p>
                            <p class="file-size">{{ file_emancipacao == '' ? '0kb' : file_emancipacao.tamanho }}</p>
							<!--<p ng-click="file_emancipacao = ''">X</p>-->
                          </div>

                        </div>

                      </div>

                    </div>

                  </div>

                  <span class="msg-error" ng-show="formValidation && (file_emancipacao == '')">
                    Insira o arquivo de emancipa&ccedil;&atilde;o
                  </span>

                </div>

                <div class="btns">
                  <div class="row">
                    <div class="col-xs-6 a-left">
                      <button type="button" class="btn btn-info btn-voltar" ng-click="back('stage1')">Voltar</button>
                    </div>

                    <div class="col-xs-6">
                      <button type="button" class="btn btn-info" ng-click="nextFile()">Pr&oacute;ximo</button>
                    </div>
                  </div>
                </div>

              </div>
              <!-- ================ -->

               <!-- PASSO QUATRO, ENVIO DOS DADOS ================ -->
              <div class="animate-switch" ng-switch-when="stage3" onLoad="setFocus()" >

                <h1 class="title mt60">Alguem te indicou?</h1>

                <p class="text mt60">Caso algum(a) Revendedor(a) tenha te indicado, entre abaixo com o registro dele(a).</p>

                <div class="row">
                  <div class="col-xs-12 col-md-6">

                    <div class="form-group mt16">
                      <label>QUAL O REGISTRO DO REVENDEDOR(A) INDICANTE? (OPCIONAL)</label>

						<input type="text" style="text-transform:uppercase" class="form-control txt-cpf" id="registro_indicante" name="registro_indicante" ng-model="formParams.registro_indicante" ng-pattern="/^[0-9]+/" maxlength="8">
                      <!-- onKeyDown="if(this.value.length==8) return false;"-->

					</div>
                    <span class="msg-error" ng-show="formPrincipal.registro_indicante.$error.pattern">
                      Digite somente números
                    </span>
                  </div>
                </div>

                <div class="btns">
                  <div class="row">
                    <div class="col-xs-6 a-left">
                      <button type="button" class="btn btn-info btn-voltar" ng-click="back('stage2')">Voltar</button>
                    </div>

                    <div class="col-xs-6">
                      <button type="button" class="btn btn-info" ng-click="submitForm()">Avan&ccedil;ar</button>
                    </div>
                  </div>
                </div>

              </div>
              <!-- ================ -->

               <!-- PASSO CINCO, SUCESSO ================ -->
              <div class="animate-switch" ng-switch-when="stage4">

                <h1 class="title mt60">Quase l&aacute;!</h1>

                <div class="row mt24">

                  <div class="col-xs-12 col-sm-6 col-md-3">
                    <img src="app/assets/images/logo-sms.png" class="w100">
                  </div>

                  <div class="col-xs-12 col-sm-6 col-md-9">
                    <p class="text mt60 title_sucesso">Enviamos um SMS para você com os termos e condições.<br/>
É importante que você responda "SIM" para finalizarmos o cadastro com sucesso.<br/>
Caso você tenha alguma dúvida entre em contato com: 0800 9407373</p>
                  </div>

                </div>

              </div>
              <!-- ================ -->

            </div>

          </form>

        </div>

        <!-- Modal -->
        <div id="modalMSG" class="modal fade" role="dialog" data-backdrop="static">
          <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"></h4>
              </div>
              <div class="modal-body">
                <p></p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
              </div>
            </div>

          </div>
        </div>

      </main>

      <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <script src="app/assets/js/angular.min.js"></script>
      <script src="app/assets/js/angular-route.min.js"></script>
      <script src="app/assets/js/angular-animate.js"></script>
      <script src="app/assets/js/mask.min.js"></script>
      <script src="app/assets/js/jquery.browser.js"></script>

	  <script type="text/javascript">
		function setFocus() {
		document.getElementById("registro_indicante").focus();
		}
		</script>

      <script src="app/assets/js/ng-file-upload.min.js"></script>
      <script src="app/assets/js/ng-file-upload-shim.min.js"></script>

      <script src="app/app.js"></script>
	  <script src="app/assets/js/remove-accents.js"></script>
	  <script> function caps(element){
				element.value = element.value.toUpperCase();
				}
	</script>

   </body>
</html>